Source: python-greenio
Section: python
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Julien Danjou <acid@debian.org>,
           Thomas Goirand <zigo@debian.org>,
           Mehdi Abaakouk <sileht@sileht.net>,
           Gonéri Le Bouder <goneri@debian.org>
Build-Depends: debhelper (>= 10),
               python-all (>= 2.6.6-3~),
               python-greenlet,
               python-setuptools,
               python-trollius,
               python3-all,
               python3-greenlet,
               python3-setuptools,
               python3-trollius
Standards-Version: 3.9.5
X-Python-Version: >= 2.7
Vcs-Browser: https://git.openstack.org/cgit/openstack/deb-python-greenio?h=debian%2Fnewton
Vcs-Git: https://git.openstack.org/openstack/deb-python-greenio -b debian/newton
Homepage: https://github.com/1st1/greenio/

Package: python-greenio
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ${misc:Depends}, ${python:Depends}
Description: greenlets for asyncio (PEP 3156). - Python 2.x
 The python-greenio package provides support for greenlets in asyncio. It
 requires asyncio and greenlet.
 .
 This package contains the Python 2.x module.

Package: python3-greenio
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ${misc:Depends}, ${python3:Depends}
Description: greenlets for asyncio (PEP 3156). - Python 3.x
 The python-greenio package provides support for greenlets in asyncio. It
 requires asyncio and greenlet.
 .
 This package contains the Python 3.x module.
